<h1>This is secrect page</h1>
  
<img src="https://cdn.discordapp.com/attachments/764915903837896727/796148966231244800/image0.png">
  
<h1>Welcome to our App.</h1>
  
<li><a href="/register">Click here to sign up.</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>