<h1>Welcome to the Sky Map App.</h1>
  
<li><a href="/register">Click here to sign up.</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>

<p>You can also use this app as a Guest by providing the parameters below</p>

<form method="POST">
    <input type="text" name="Zipcode"
        placeholder="Zipcode (Only for US & CA)">
    <input type="text" name="Date"
        placeholder="Date">
    <button>Submit</button>
</form>

<br><img src = "https://i.imgur.com/QsQ4tSg.gif">