<h1>User's Info</h1>
  
<img src="https://cdn.discordapp.com/attachments/764915903837896727/796148966231244800/image0.png">
  
<h1>Welcome to your records page.</h1>



<form method="POST">
    <input type="text" name="Zipcode"
        placeholder="Zipcode">
    <input type="text" name="Country"
        placeholder="Country (abbreviation)">
    <input type="text" name="Date"
        placeholder="Date">
    <select name="Constellation"
        option(name="Andromeda" value="and") Andromeda
        option(name="Aquarius" value="aqr") Aquarius
        option(name="Boötes" value="boo") Boötes
        option(name="Canis Major" value="cma") Canis Major
        option(name="Cassiopeia" value="cas") Cassiopeia
        option(name="Cygnus" value="cyg") Cygnus
        option(name="Gemini" value="gem") Gemini
        option(name="Draco" value="dra") Draco
        option(name="Leo" value="leo") Leo
        option(name="Pegasus" value="peg") Pegasus>
    </select>
    <button>Submit</button>
</form>


  
<li><a href="/register">Click here to sign up.</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>